<html>
<title>Boston House Price - Predictions</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">
  <br/>
  <table width=100%>
      <tr>
        <td size=50%><h1>Boston House Price Model</h1></td>
        <td><img src="/img/boston.jpg" width="200" height="230"></td>
      </tr>
  </table>
<br/>
    
  
  <table class="w3-table-all">
    <thead>
      <tr class="w3-red">
        <th>Objeto</th>
        <th>URL</th>
       
      </tr>
    </thead>
	<tr>
      <td>Simular Predição</td>
      <td><a href="http://localhost:5000/GetPredictions">Link</a></td>
    </tr>
	<tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>API Treino</td>
      <td><a href="http://localhost:5000/Run">Link</a></td>
      
    </tr>
    <tr>
      <td>API Predict</td>
      <td><a href="http://localhost:5000/GetPredict?valor1=3.5&valor2=10">Link</a></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
	<tr>
      <td>Logs de Predição</td>
      <td><a href="http://localhost:5000/Logs">Link</a></td>
    </tr>
	<tr>
      <td>Limpar Log</td>
      <td><a href="http://localhost:5000/ClearLog">Link</a></td>
    </tr>
  </table>
</div>
</body>
</html> 
